.fileUpload.isDropping {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 5em;
  width: 100%;
  border: 1px dashed white;
}

.fileUpload .file-cta,
.fileUpload .file-name {
  border: none;
  border-radius: 0;
}
.fileUpload label.file-label {
  border: 1px solid #796f6f;
  border-radius: 4px;
  margin-bottom: 1.5em;
}
