.file-button-container .button:not(:last-child) {
  margin-right: 0.5em;
}

@media screen and (min-width: 700px) {
  #filelist th {
    width: 40%;
  }

  #filelist th:nth-child(3) {
    max-width: 20%;
  }
}
