@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$text: rgb(221, 209, 209);
$text-strong: white;
$title-color: $text;
$background: #595959;
$scheme-main: #595959;
$scheme-main-bis: #424242;
$link: rgb(177, 177, 177);
$border: #796f6f;
$file-cta-background-color: $scheme-main-bis;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";

body,
html {
  background-color: #595959;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.icon-text .icon {
  margin-right: 0.3em;
}

label.label {
  color: #ffffffd3;
}

.checkbox:hover,
.radio:hover {
  color: #ebebeb;
}

.navbar-dropdown a.navbar-item {
  padding-right: 0;
}

@media screen and (max-width: $desktop) {
  .navbar-burger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-menu.is-active {
    text-align: right;
    margin-left: 3.25em;
    border-left: 1px #b94c4c solid;
    border-bottom: 1px #b94c4c solid;
    background-color: #373333;
    width: calc(100% - 3.25em);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  }
  a.navbar-item:hover {
    background-color: #595959;
    color: #b94c4c;
  }

  .navbar-menu .navbar-end {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    margin-right: 1em !important;
  }
}

.pointer_cursor {
  cursor: pointer;
}
