.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginContainer .loginBox {
  width: 25rem;
  background-color: #373333;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.loginContainer .loginBox input {
  background-color: #595959;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: white;
}
.loginContainer .loginBox input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}
.loginContainer .loginBox label {
  margin-bottom: 0.2rem;
  user-select: none;
}

.loginContainer .loginBox span {
  color: #b94c4c;
}
.loginContainer .loginBox span.errorMessage {
  margin-bottom: 0.2rem;
}

.loginContainer .loginBox button {
  cursor: pointer;
  background-color: #b94c4c;
  border: none;
  border-radius: 0.1rem;
  color: white;
  padding: 0.5rem 0.8rem;
  max-width: 150px;
}
