@import "../styles/global.scss";

.sidebar {
  width: 3.25rem;
  height: calc(100vh - 3.25rem);
  background-color: #2b2b2b;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
}

.sidebar .sidebar-item {
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1rem 0;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: white;
  display: flex;
}
.sidebar .sidebar-item.selected {
  color: #b94c4ce1;
}

.sidebar .sidebar-item:hover {
  background-color: #292929;
}

.sidebar .sidebar-end {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.page {
  display: flex;
  background-color: #171717;
  flex-direction: row;
}

.page-content {
  width: calc(100% - 3.25em);
  padding: 3em;
  text-align: center;
  overflow: auto;
  height: calc(100vh - 3.25em);
}

.page.home .columns.is-multiline > .column {
  background-color: #202020;
  margin-bottom: 2em;
  border-radius: 4px;
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 769px) {
  .page.home .column.is-half {
    width: calc(50% - 1.625rem);
  }
}

.notification-container {
  display: flex;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  position: absolute;
  z-index: 10000;
  pointer-events: none;
  flex-direction: column;
  padding-top: 5em;
  padding-right: 2em;
}

.notification-container .notification-box {
  background-color: #171717;
  border: 2px solid $border;
  padding: 1em;
  width: 275px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  display: flex;
  flex-direction: row-reverse;
  pointer-events: all;
}

.notification-container .notification-box:not(:last-child) {
  margin-bottom: 1.25em;
}
