.sidebar {
  width: 3.25rem;
  height: calc(100vh - 3.25rem);
  background-color: #373333;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
}

.sidebar .sidebar-item {
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1rem 0;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: white;
  display: flex;
}
.sidebar .sidebar-item.selected {
  color: #b94c4ce1;
}

.sidebar .sidebar-item:hover {
  background-color: #292929;
}

.sidebar .sidebar-end {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: row;
}

.page-content {
  width: calc(100% - 3.25em);
  padding: 2em 3em;
  text-align: center;
  overflow: auto;
  height: calc(100vh - 3.25em);
}

.page.home .columns.is-multiline > .column {
  background-color: #484848;
  margin-bottom: 2em;
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
  border: 3px #b94c4c3f solid;
}

@media screen and (min-width: 769px) {
  .page.home .column.is-half {
    width: calc(50% - 1.625rem);
  }
}
