.navbar.is-dark {
  background-color: #373333;
}

.navbar-brand {
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center !important;
  background-color: #b94c4c;
}

.navbar-end {
  margin-right: 5rem;
}

.navbar-end .navbar-dropdown span.statusBarAlignRight {
  margin-left: auto;
  margin-right: 0;
}

.navbar-end .navbar-dropdown .connectionStatusActionButton {
  padding: 1em;
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown {
    max-width: 20em;
  }
  .navbar-dropdown .navbar-item {
    white-space: unset;
  }
}
