.statusbar {
  background-color: #373333;
  color: white;
  height: 50px;
  display: flex;
}
.statusbar .icon {
  width: 50px;
  flex-shrink: 0;
  height: 50px;
  background-color: #b94c4c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusbar .content {
  height: 50px;
  width: 100%;
  padding-right: 150px;
}

.statusbar .statusbar-item {
  height: 100%;
  display: flex;
  width: fit-content;
  align-items: center;
}
