.columns.status-widget {
  height: 100%;
  margin: 0;
}

.columns.status-widget .column:nth-child(1) {
  text-align: left;
  display: flex;
  align-items: center;
}

.columns.status-widget .status-icon {
  height: 10em;
  width: 10em;
  background-color: #373333;
  border-radius: 50%;
  margin: auto 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns.status-widget .status-icon svg {
  font-size: 3em;
}

.spacedList {
  display: flex;
  flex-direction: column;
  height: calc(100% - 1.125em - 3em);
  justify-content: center;
}

.spacedList > * {
  display: block;
  margin-bottom: 1.25em;
}

.spacedList a:hover {
  color: inherit;
  opacity: 0.6;
}

.printStatusWidget {
  height: 100%;
  border-left: 1px #595959 solid;
  padding-left: 1em;
  width: 18em;
}
.printStatusWidget .title {
  padding-left: 0.2em;
}

.printStatusWidget .temperatureTag {
  display: flex;
  margin-right: 0.5em;
}

.printStatusWidget .temperatureTags .temperatureTag .tag {
  margin-right: 0.2em;
}

.printStatusWidget .temperatureTags {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% - 1.5em);
}

.printStatusWidget .temperatureTags .temperatureTag {
  margin-bottom: 0.5em;
}
.printStatusWidget .temperatureTags .temperatureTag svg {
  margin-left: 0.2em;
}
