.amount {
  margin-left: auto;
  margin-right: 0;
}
.react-terminal-line:not(.react-terminal-active-input) {
  display: flex !important;
}
.react-terminal-wrapper:before {
  box-shadow: none !important;
  background: none !important;
}
