@import url('https://rsms.me/inter/inter.css');

:root {
  --neutrals_1: #CCCCCC;
  --neutrals_2: #565656;
  --neutrals_3: #2C2C2C;
  --neutrals_4: hsl(0, 0%, 12%);
  --blue_1: #0075FF;
  --blue_2: #6FBAFF;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--neutrals_4);
  color: white;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
  }
}